# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Windows system files
Thumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/

# Output and data folders
output/
data/